%table.table
  %th Division
  %th Team
  %th Enter Scores
  %th View Scores
  %th Saturday status
  %th Sunday status
  - @teams.each do |team|
    %tr
      %td= team.division.name
      %td 
        = team.name 
        |
        = link_to 'Edit', edit_team_url(team)
      %td= link_to 'Enter Spirit Scores', new_spirit_score_sheet_path(team_id: team.id)
      %td= link_to 'View Scores', team
      %td
        - if team.saturday_completed?
          &#10003;
        - else
          incomplete
      %td
        - if team.sunday_completed?
          &#10003;
        - else
          incomplete
